In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def e_s(t):
    e = 0.6108 * np.exp((17.27*t)/(t+237.3))
    e = e*10
    return e
def delta(es, t):
    delt = (4098*es) / (t+237.3)**2
    return delt
def gamma(P):
    gamma = (1930*P) / (2257000*0.622)
    return gamma
def EP(delta, Rn, es, e, u, gamma) :
    Ea = (es-e) * (0.27 + 0.233*u)
    Et = ((delta/(delta+gamma)) * Rn*0.9
          + (gamma/(delta+gamma)) * Ea
         )
    return Et

In [3]:
datos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Agro 2\\Tp_2\\Ej_4.txt',
    delimiter = ' ',
    decimal = '.'
    )

In [4]:
datos.head(10)

      T     e   V   Rn  PP
0  18.2  15.4  10  144   0
1  19.0  17.7   9  153   0
2  21.6  19.4   8  154   0
3  21.9  21.6   9   75  28
4  16.0  13.6  12  165   0
5  14.8  10.9  11  152   0
6  15.9   9.2  11  165   0

In [5]:
datos['Presion'] = list(range(7))
datos['ET penman'] = list(range(7))
datos['Radiacion'] = datos['Rn']*86400/1000000
for i in datos['Presion']:
    datos['Presion'][i] = 1013
    e_s_p = e_s(datos['T'][i])
    delta_p = delta(e_s_p, datos['T'][i])
    gamma_p = gamma(datos['Presion'][i])
    datos['ET penman'][i] = EP(delta_p, datos['Radiacion'][i], e_s_p/10,
                               datos['e'][i]/10, datos['V'][i], gamma_p
                              )
datos['ETR'] = 1.25*datos['ET penman']
datos.head(10)

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

      T     e   V   Rn  PP  Presion  ET penman  Radiacion   ETR
0  18.2  15.4  10  144   0     1013          6    12.4416  7.50
1  19.0  17.7   9  153   0     1013          6    13.2192  7.50
2  21.6  19.4   8  154   0     1013          7    13.3056  8.75
3  21.9  21.6   9   75  28     1013          3     6.4800  3.75
4  16.0  13.6  12  165   0     1013          6    14.2560  7.50
5  14.8  10.9  11  152   0     1013          6    13.1328  7.50
6  15.9   9.2  11  165   0     1013          7    14.2560  8.75

In [6]:
datos['balance'] = list(range(7))
datos['balance'][0] = 950 - datos['ETR'][0]
iterador = list(range(1,7))
for i in iterador:
    datos['balance'][i] = (datos['balance'][i-1]
                           + datos['PP'][i]
                           - datos['ETR'][i]
                          )
datos.head(10)

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

      T     e   V   Rn  PP  Presion  ET penman  Radiacion   ETR  balance
0  18.2  15.4  10  144   0     1013          6    12.4416  7.50      942
1  19.0  17.7   9  153   0     1013          6    13.2192  7.50      934
2  21.6  19.4   8  154   0     1013          7    13.3056  8.75      925
3  21.9  21.6   9   75  28     1013          3     6.4800  3.75      949
4  16.0  13.6  12  165   0     1013          6    14.2560  7.50      941
5  14.8  10.9  11  152   0     1013          6    13.1328  7.50      933
6  15.9   9.2  11  165   0     1013          7    14.2560  8.75      924

    10 hectareas son 1e+11 milimetros cuadrados. Si multiplicamos por 30mm de profundidado, necesitariamos 3e+12 milimetros cubicos de agua. Son 3 millones de litros.