In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
datos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Agro 2\\Tp_2\\Ej_2.txt',
    delimiter = ' ',
    decimal = '.'
    )

In [39]:
datos.head()

       Decadas   ETP    KC    PP
0  1ºnoviembre  31.9  0.62  14.4
1  2ºnoviembre  44.7  0.64  10.9
2  3ºnoviembre  50.8  0.68  46.5
3  1ºdiciembre  35.6  0.78  45.3
4  2ºdiciembre  62.0  0.90   1.5

In [40]:
datos['Etr'] = datos['ETP']*datos['KC']

agua_util_10 = 17
capacidad_campo_10 = agua_util_10/0.85
almacenaje_inicial_10 = agua_util_10*0.8
punto_marchitez_10 = capacidad_campo_10 - agua_util_10

agua_util = agua_util_10/100
capacidad_campo = capacidad_campo_10/100
almacenaje_inicial = almacenaje_inicial_10/100
punto_marchitez = punto_marchitez_10/100

agua_util_30 = agua_util*300
capacidad_campo_30 = capacidad_campo*300
almacenaje_inicial_30 = almacenaje_inicial*300
punto_marchitez_30 = punto_marchitez*300

print('En 10 cm: \n',
      capacidad_campo_10, '\n',
      agua_util_10, '\n',
      almacenaje_inicial_10, '\n',
      punto_marchitez_10, '\n',
      'En tita: \n',
      capacidad_campo, '\n',
      agua_util, '\n',
      almacenaje_inicial, '\n',
      punto_marchitez, '\n',
      'En 30 cm: \n',
      capacidad_campo_30, '\n',
      agua_util_30, '\n',
      almacenaje_inicial_30, '\n',
      punto_marchitez_30, '\n',
      )

En 10 cm:
 20.0
 17
 13.600000000000001
 3.0
 En tita:
 0.2
 0.17
 0.136
 0.03
 En 30 cm:
 60.0
 51.00000000000001
 40.800000000000004
 9.0

In [41]:
datos['variacion'] = datos['PP'] - datos['Etr']
datos['acumulada'] = datos['variacion'].cumsum()
datos.head(20)

        Decadas   ETP    KC     PP     Etr  variacion  acumulada
0   1ºnoviembre  31.9  0.62   14.4  19.778     -5.378     -5.378
1   2ºnoviembre  44.7  0.64   10.9  28.608    -17.708    -23.086
2   3ºnoviembre  50.8  0.68   46.5  34.544     11.956    -11.130
3   1ºdiciembre  35.6  0.78   45.3  27.768     17.532      6.402
4   2ºdiciembre  62.0  0.90    1.5  55.800    -54.300    -47.898
5   3ºdiciembre  59.3  1.05   35.5  62.265    -26.765    -74.663
6       1ºenero  45.7  1.10   35.6  50.270    -14.670    -89.333
7       2ºenero  51.8  1.12   15.5  58.016    -42.516   -131.849
8       3ºenero  53.0  1.11   80.0  58.830     21.170   -110.679
9     1ºfebrero  48.0  1.04   37.9  49.920    -12.020   -122.699
10    2ºfebrero  46.0  0.96  118.9  44.160     74.740    -47.959
11    3ºfebrero  42.0  0.88   26.5  36.960    -10.460    -58.419
12      1ºmarzo  48.3  0.80    5.8  38.640    -32.840    -91.259
13      2ºmarzo  18.0  0.72   10.5  12.960     -2.460    -93.719

In [43]:
'''Asumo que las raíces medían 10cm hasta 3°noviembre y 20cm
hasta el 3° diciembre. Luego no crecen mas'''

raices = np.array([100, 100, 100,
          200, 200, 200,
          300, 300, 300,
          300, 300, 300,
          300, 300
         ])
datos['almacenaje sin riego'] = round(almacenaje_inicial*raices
                                      + datos['acumulada'],
                                      2
                                     )
datos.head(20)

,Decadas,ETP,KC,PP,Etr,variacion,acumulada,almacenaje sin riego
0,1ºnoviembre,31.9,0.62,14.4,19.778,-5.378,-5.378,8.22
1,2ºnoviembre,44.7,0.64,10.9,28.608,-17.708,-23.086,-9.49
2,3ºnoviembre,50.8,0.68,46.5,34.544,11.956,-11.130,2.47
3,1ºdiciembre,35.6,0.78,45.3,27.768,17.532,6.402,33.60
4,2ºdiciembre,62.0,0.90,1.5,55.800,-54.300,-47.898,-20.70
5,3ºdiciembre,59.3,1.05,35.5,62.265,-26.765,-74.663,-47.46
6,1ºenero,45.7,1.10,35.6,50.270,-14.670,-89.333,-48.53
7,2ºenero,51.8,1.12,15.5,58.016,-42.516,-131.849,-91.05
8,3ºenero,53.0,1.11,80.0,58.830,21.170,-110.679,-69.88
9,1ºfebrero,48.0,1.04,37.9,49.920,-12.020,-122.699,-81.90
10,2ºfebrero,46.0,0.96,118.9,44.160,74.740,-47.959,-7.16
11,3ºfebrero,42.0,0.88,26.5,36.960,-10.460,-58.419,-17.62
12,1ºmarzo,48.3,0.80,5.8,38.640,-32.840,-91.259,-50.46
13,2ºmarzo,18.0,0.72,10.5,12.960,-2.460,-93.719,-52.92

In [70]:
iterador = list(range(1, len(datos['almacenaje sin riego'])))
limite_riego = 0.5*agua_util*raices
datos['almacenaje con riego'] = datos['almacenaje sin riego']
datos['almacenaje con riego'][0] = 20
datos['riego'] = list(range(14))
datos['riego'][0] = 11.88
for i in iterador:
    datos['almacenaje con riego'][i] = (datos['almacenaje con riego'][i-1]
                                        + datos['variacion'][i]
                                       )
    datos['riego'][i] = 0
    if  datos['almacenaje con riego'][i] < limite_riego[i]: 
        datos['riego'][i] = (capacidad_campo*raices[i] 
                             - datos['almacenaje con riego'][i]
                            )
        datos['almacenaje con riego'][i] = capacidad_campo*raices[i]
    if  datos['almacenaje con riego'][i] > capacidad_campo*raices[i]:
        datos['almacenaje con riego'][i] = capacidad_campo*raices[i]
datos.head(15)

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\nahue\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Decadas,ETP,KC,PP,Etr,variacion,acumulada,almacenaje sin riego,almacenaje con riego,riego
0,1ºnoviembre,31.9,0.62,14.4,19.778,-5.378,-5.378,8.22,20.000,11
1,2ºnoviembre,44.7,0.64,10.9,28.608,-17.708,-23.086,-9.49,20.000,17
2,3ºnoviembre,50.8,0.68,46.5,34.544,11.956,-11.130,2.47,20.000,0
3,1ºdiciembre,35.6,0.78,45.3,27.768,17.532,6.402,33.60,37.532,0
4,2ºdiciembre,62.0,0.90,1.5,55.800,-54.300,-47.898,-20.70,40.000,56
5,3ºdiciembre,59.3,1.05,35.5,62.265,-26.765,-74.663,-47.46,40.000,26
6,1ºenero,45.7,1.10,35.6,50.270,-14.670,-89.333,-48.53,60.000,34
7,2ºenero,51.8,1.12,15.5,58.016,-42.516,-131.849,-91.05,60.000,42
8,3ºenero,53.0,1.11,80.0,58.830,21.170,-110.679,-69.88,60.000,0
9,1ºfebrero,48.0,1.04,37.9,49.920,-12.020,-122.699,-81.90,47.980,0
10,2ºfebrero,46.0,0.96,118.9,44.160,74.740,-47.959,-7.16,60.000,0
11,3ºfebrero,42.0,0.88,26.5,36.960,-10.460,-58.419,-17.62,49.540,0
12,1ºmarzo,48.3,0.80,5.8,38.640,-32.840,-91.259,-50.46,60.000,43
13,2ºmarzo,18.0,0.72,10.5,12.960,-2.460,-93.719,-52.92,57.540,0